version: "2"
services:
  isc-dhcp:
    image: "networkboot/dhcpd"
    restart: "no"
    ports:
      - "67:67/udp"
    volumes:
      - ./data/dhcp:/data
  glass:
    build: .
    restart: "no"
    working_dir: /app
    environment:
      - NODE_ENV=production
    volumes:
      - ./data/dhcp:/var/lib/dhcp
      - ./data/dhcp/dhcpd.conf:/etc/dhcp/dhcpd.conf
      - ./data/dhcp:/etc/dhcp
    ports:
      - "8080:8080"
      - "3000:3000"
    command: "npm start"
